<!-- <h1>One way binding</h1>
<h2>String interpolation</h2>
<p>Titile is {{title}}</p>
<h2>Event binding</h2>
<button (click)="enable($event)">Click here</button>
<h2>Property binding</h2>
<button [disabled]="button_enable">Click here</button>
<br>
<input type="text" [value]="name">
<hr>
<h1> Two-way databinding </h1>
<input type="text" [(ngModel)]="data">
<p>Entered data is:{{data}}</p> -->
<div class="row container" style="margin-top:50px ;">
  <div class="col">
    <button class="btn btn-primary" (click)="change_path()">Home</button>
  </div>
  <div class="col">
    <a routerLink="/Pipes">PipesDemo</a>
  </div>
  <div class="col">
    <a routerLink="/Image-load"> Images</a>
  </div>
  <div class="col">
    <a routerLink="/TDF-forms">Template Driven Forms</a>
  </div>
  <div class="col">
    <a routerLink="/Reactive-forms">Reactive-forms</a>
  </div>
  <div class="col">
    <a routerLink="/Parent">Component-Interaction</a>
  </div>
  <div class="col">
    <a routerLink="/Weather">Weather</a>
  </div>
  <div class="col">
    <a routerLink="/Multi-interaction">Multi-interaction</a>
  </div>
  <div class="col">
    <a routerLink="/Ngrx-demo">Ngrx-demo</a>
  </div>
  <div class="col">
    <a routerLink="/Hyper-theme">Hyper-Theme</a>
  </div>
</div>

<router-outlet></router-outlet>
